*.imi
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/dictionaries
/monkeytong.jks
/WeChatLuckyMoney2.iml
!/app/app.iml
/.idea/
/app/app.iml
/.idea/modules.xml
